<form class="p-4 m-5 bg-dark rounded-4 shadow-lg text-light">
    <div class="mb-3">
      <label for="weight" class="form-label">Insert your weight</label>
      <input type="number" class="form-control" id="weight" [(ngModel)]="weight" name="weight">
    </div>
    <div class="mb-3">
      <label for="height" class="form-label">Insert your height</label>
      <input type="number" class="form-control" id="height" [(ngModel)]="height" name="height">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
  </form>